.c-rotate {
    width: 100%;
    height: 100vh;
    background-color: #0a0a0a;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: absolute;
    z-index: 9000;

    @include mq($and: "(orientation: landscape)") {
        display: none;
    }
}

.c-rotate__wrapper {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.c-rotate__icon {
    color: #ffffff;
    position: absolute;
}

.c-rotate__icon--mobile {
    font-size: 5rem;
    animation: 3s ease-in-out 0s infinite rotateMobile;
}

.c-rotate__icon--refresh {
    opacity: 0;
    font-size: 10rem;
    opacity: 0.7;
    transform: rotate(-50deg);
    animation: 3s ease-in-out 0s infinite rotate;
}

.c-rotate__text {
    color: #ffffff;
    font-family: Arial;
    font-size: 2rem;
    text-align: center;
}

.c-rotate__text p {
    margin-bottom: 4px;
    font-size: 24px;
}

.c-rotate__text a {
    color: #7ccfff;
    font-size: 20px;
}
